<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %} | Trail in Calvi</title>
        <meta name="description" content="Trail in Calvi" />
        <meta name="keywords" content="bootstrap, shop, e-commerce, market, modern, responsive,  business, mobile, bootstrap, html5, css3, js, gallery, slider, touch, creative, clean" />
        <meta name="author" content="Laurent Sanson" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="apple-touch-icon" sizes="180x180" href="" />
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('build/img/logo-transparent.png') }}" />
        <link rel="icon" type="image/png" sizes="16x16" href="" />
        <meta name="msapplication-TileColor" content="#ffffff" />
        <meta name="theme-color" content="#ffffff" />
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block navbar %}
            {% include('components/_navbar.html.twig') %}
        {% endblock %}
        {% block body %}{% endblock %}

        {% include('components/_footer.html.twig') %}
    </body>
</html>
