<section class="p-0">
    <div class="swiper-container"
         data-top-top="transform: translateY(0px);"
         data-top-bottom="transform: translateY(250px);">
        <div class="swiper-wrapper">
            <div class="swiper-slide vh-100">
                <div class="image image-overlay image-zoom" style="background-image:url({{ asset('build/img/revellata.jpg') }})"></div>
                <div class="caption">
                    <div class="container">
                        <div class="row justify-content-between vh-100">
                            <div class="col-lg-8 align-self-center text-white text-shadow" data-swiper-parallax="-100%">
                                <span class="eyebrow text-white mb-1">Venez découvrir</span>
                                <h1 class="display-2">Trail in Calvi</h1>
                                <a target="_blank" href="https://www.sportsnconnect.com/calendrier-evenements/view/24773/trail-in-calvi" class="btn btn-white btn-rounded px-5">S'inscrire</a>
                            </div>
                            <div class="col-lg-4 align-self-end">
                                <div class="row gutter-1">
                                    <div class="col-6">
                                        <div class="equal">
                                            <div class="boxed">
                                                <div class="equal-header">
                                                    <h4>Samedi 11 Novembre 2023</h4>
                                                </div>
                                                <div class="equal-footer">
                                                    <span class="text-muted">Quand?</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 text-white">
                                        <div class="equal">
                                            <div class="bordered">
                                                <div class="equal-header">
                                                    <h4>Calvi, Balagne, Corse</h4>
                                                </div>
                                                <div class="equal-footer">
                                                    <span class="text-muted">Où?</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 text-white">
                                        <div class="equal">
                                            <div class="bordered">
                                                <div class="equal-header">
                                                    <h4>Association Sport in Calvi</h4>
                                                </div>
                                                <div class="equal-footer">
                                                    <span class="text-muted">Qui?</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-footer text-white">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col text-center">
                            <div class="mouse"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
