<footer class="bg-dark text-white">
    <div class="container py-5">
        <div class="row justify-content-between align-items-center">
            <div class="col-md-5 text-center text-md-left">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('home') }}">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('post_index') }}">Actualités</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Legal Information</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-2 text-center">
                <img class="logo-sm" src="{{ asset('build/img/logo.jpg') }}" alt="Logo">
            </div>
            <div class="col-md-5 text-center text-md-right">
                <ul class="socials">
                    <li>
                        <a target="_blank" href="https://www.facebook.com/people/Trail-in-Calvi/100092016441913/" class="icon-facebook fs-20"></a>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.instagram.com/trail_in_calvi/" class="icon-instagram fs-20"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
