<section class="bg-primary text-white">
    <div class="container">
        <div class="row mb-3">
            <div class="col">
                <div class="nav nav-text">
                    <a class="nav-item nav-link active" data-toggle="tab" href="#first">10 Novembre</a>
                    <a class="nav-item nav-link" data-toggle="tab" href="#second">11 Novembre</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane show active" id="first" role="tabpanel" aria-labelledby="first-tab">
                        <div class="accordion-group" data-accordion-group>
                            <div class="accordion" data-accordion>
                                <div class="accordion-control" data-control>
                                    <span class="fw-25">9h00 - 18h00</span>
                                    <h5>Ouverture du village</h5>
                                </div>
                                <div class="accordion-content" data-content>
                                    <div class="accordion-content-wrapper">
                                        <p class="ml-lg-25 mr-lg-25">
                                            Retrait des dossards sur place jusqu'à 18h00
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="second" role="tabpanel" aria-labelledby="second-tab">
                        <div class="accordion-group" data-accordion-group>
                            <div class="accordion" data-accordion>
                                <div class="accordion-control" data-control>
                                    <span class="fw-25">9h00 - 11h00</span>
                                    <h5>Ouverture du village</h5>
                                </div>
                                <div class="accordion-content" data-content>
                                    <div class="accordion-content-wrapper">
                                        <p class="ml-lg-25 mr-lg-25">
                                            Retrait des dossards sur place jusqu'à 11h00
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion" data-accordion>
                                <div class="accordion-control" data-control>
                                    <span class="fw-25">11h00 - 13h00</span>
                                    <h5>Pasta party</h5>
                                </div>
                                <div class="accordion-content" data-content>
                                    <div class="accordion-content-wrapper">
                                        <p class="ml-lg-25 mr-lg-25">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius quam odit voluptatum, rem libero modi labore porro commodi inventore architecto explicabo reiciendis, perspiciatis voluptatibus odio, sequi nobis? Optio, aperiam, tenetur!
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion" data-accordion>
                                <div class="accordion-control" data-control>
                                    <span class="fw-25">13h00 - 18h00</span>
                                    <h5>Départ des courses</h5>
                                </div>
                                <div class="accordion-content" data-content>
                                    <div class="accordion-content-wrapper">
                                        <p class="ml-lg-25 mr-lg-25">
                                            Départ des courses entre 13h00 et 13h15
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion" data-accordion>
                                <div class="accordion-control" data-control>
                                    <span class="fw-25">18h00 - 02h00</span>
                                    <h5>Soirée</h5>
                                </div>
                                <div class="accordion-content" data-content>
                                    <div class="accordion-content-wrapper">
                                        <p class="ml-lg-25 mr-lg-25">
                                            @cocopops_livemusic à 20h00, suivi de @aquarius_musics
                                        </p>
                                        <p class="ml-lg-25 mr-lg-25">
                                            Fermeture à 02h00
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
